.service__header {
    color: var(--primary);
}
.service img {
    object-fit: cover;
}

.service__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    position: relative;
}

.service__items::after{
    /* width: .1rem; */
    border: .01rem dashed #C4C4C4;
    height: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    content: "";
    transform: translate(-50%,-50%);
}
.service__item {
    width: 50%;
    height: 200px;
    text-align: center;
    padding: 1rem;
    position: relative;
}

.service__item::after{
    /* width: .1rem; */
    border: .01rem dashed #C4C4C4;
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    content: "";
    transform: translate(-50%,-50%);
}
.service__item h4 {
    color: var(--primary);
    margin: .5rem 0;
}
.service__item p {
    color: #757575;
}

.service__item:nth-of-type(5):after,.service__item:nth-of-type(6):after{
    content: none;
}

.splide__pagination {
    position: static;
    margin-top: 1rem;
    gap: .8rem;
}

.splide__pagination__page {
    height: 1rem;
    width: 1rem;
    opacity: .5;
}

.splide__pagination__page.is-active {
    background: #ccc;
    opacity: 1;

}
.service__header h2 {
        font-size: 6rem;
        line-height: 1 !important;
    }
    .service__header h3 {
        font-size: 3.3rem;
    }

    .active_item h4  {
        color: #2b4c75 !important;
    }
    .active_item svg path {
        fill: #2b4c75;
    }

    .deactive_item h4 {
        color: var(--primary);
    }
    .deactive_item svg path  {
        fill: var(--primary);
    }
@media (max-width:1440px) {
    
    .service__header h2 {
        font-size: 6rem;
        line-height: 1 !important;
    }
    .service__header h3 {
        font-size: 3.3rem;
    }
    .service__item h4 {
        font-size: 1.5rem;
        line-height: 2 !important;
    }
}

@media (max-width:1024px) {
    
    .service__header h2 {
        font-size:4.5rem;
        line-height: 1 !important;
    }
    .service__header h3 {
        font-size: 2.3rem;
    }
    .service__item {
        height: 220px;
    }
     .service__item h4 {
        font-size: 1.5rem;
        line-height: 1.2 !important;
    }
    .service__item h4 {
        font-size: 1.2rem;
    }
}

@media (max-width:768px){
 .service__header {
    text-align: center;
 }
 .service__item {
    height: 180px;
 }
}