.service__header {
    color: var(--primary);
}
.service img {
    object-fit: cover;
}

.service__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    position: relative;
}

.service__items::after{
    /* width: .1rem; */
    border: .01rem dashed #C4C4C4;
    height: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    content: "";
    transform: translate(-50%,-50%);
}
.service__item {
    width: 50%;
    height: 200px;
    text-align: center;
    padding: 1rem;
    position: relative;
}

.service__item::after{
    border: .01rem dashed #C4C4C4;
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    content: "";
    transform: translate(-50%,-50%);
}
.service__item:nth-child(5)::after{
    content: none;
}
.service__item:nth-child(6)::after{
    content: none;
}
.service__item h4 {
    color: #268fb4;
    margin: .5rem 0;
}
.service__item p {
    color: #757575;
}
.service__item path {
    color: #268fb4;

}






    .slider-dot{
    width: 20px;
    height: 20px;
    background-color: #ddd;
    cursor: pointer;
}

.slider-dot.active{
    background-color: #757575;
}

.slider-slide{
    animation: fadeIn 1s;
    height: 41rem;
}
.slider-slide img {
    object-fit: cover;
}
.service__item.active-slide h4{
    color: var(--primary);
}
.service__item.active-slide path {
    fill: var(--primary);
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@media (max-width:1440px) {
    
    .service__header h2 {
        font-size: 6rem;
        line-height: 1 !important;
    }
    .service__header h3 {
        font-size: 3.3rem;
    }
    .service__item h4 {
        font-size: 1.5rem;
        line-height: 2 !important;
    }
    .slider-slide {
        height: 43rem;
    }
}

@media (max-width:1024px) {
    
    .service__header h2 {
        font-size:4.5rem;
        line-height: 1 !important;
    }
    .service__header h3 {
        font-size: 2.3rem;
    }
    .service__item {
        height: 220px;
    }
     .service__item h4 {
        font-size: 1.5rem;
        line-height: 1.2 !important;
    }
    .service__item h4 {
        font-size: 1.2rem;
    }
}

@media (max-width:768px){
 .service__header {
    text-align: center;
 }
 .service__item {
    height: 180px;
 }
}

