.hero {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #21436E 85.42%), linear-gradient(0deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.00) 100%), url(src/assets/banner.png), lightgray 50% / cover no-repeat;
    min-height: 150vh;
    background-position: center;
    background-size: cover;
}
.hero .container {
    min-height: 150vh;
}
.hero__container__img  {
    height: 100%;
}
.hero__container__img img {
    height: 100%;
    object-fit: cover;
}

.hero .row {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    align-items: stretch !important;
}
.hero__container__content__text {
    line-height: 1.5;
}
.hero__container__content__text h2  {
    font-size: 4.5rem;
    /* font-weight: bold; */
    /* line-height: 1.5; */
}
.hero__container__content__text h5 {
    font-size: 4.5rem;
    line-height: 1;
}
.hero__container__content__btns{
    display: flex;
    gap: var(--spacing);
}
.hero__container__content__btns button {
    border: 0;
    padding: .6rem 2rem ;
    color: var(--primary);
    font-weight: lighter;
}

@media (max-width:1440px) {
    .hero__container__content__text h5 ,.hero__container__content__text h2 {
        font-size: 6.5rem;
    }
    .hero__container__content__text p {
        font-size: 1.5rem;
    }
}

@media (max-width:1024px) {
    .hero__container__content__text h5 ,.hero__container__content__text h2 {
        font-size: 4rem;
    }
    .hero__container__content__text p {
        font-size: 1rem;
    }
}

@media (max-width:768px) {
    /* html {
        font-size: 60%;
    } */
    .hero {
        min-height: 100vh !important;
    }
    .hero .container {
        min-height: 100vh !important;
    }
  .hero .row {
    bottom: 0;
    padding-top: 100px !important;
    transform: translateX(-48.5%);
    
  }
}